@page "/download"
@inject IJSRuntime JSRuntime

<h1>Download Files</h1>

<p>
    <a href="files/dotnet-icon" class="btn btn-primary" target="_top" download="dotnet.ico">
        Download .NET icon file from the server by anchor tag
    </a>
</p>

<p>
    <button class="btn btn-primary" @onclick="OnClickDownloadButton">
        Download .NET icon file from the C# code with JavaScript helper
    </button>
</p>

@code
{
    private async Task OnClickDownloadButton()
    {
        await JSRuntime.InvokeVoidAsync(
            "downloadFromUrl",
            new
            {
                Url = "files/dotnet-icon",
                FileName = "dotnet.ico"
            });
    }
}
