@page "/download"

<h1>Download Files</h1>

<p>
    <a href="files/dotnet-icon" class="btn btn-primary" target="_top" download="dotnet.ico">
        Download .NET Icon file from the server by anchor tag
    </a>
</p>

